header{
    position: relative;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: white;
}

header h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(37, 50, 68);
    font-weight: bolder;
    font-size: xx-large;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.39);
}

header h2{
    display: flex;
    flex-direction: column;
    color: black;
    align-self: flex-start;
    font-weight: bolder;
    font-size: x-large;
    margin: 1rem;
    cursor: default;
}

header h2 p{
    font-size: 1rem;
}

header .logout-button{
    padding: .25rem .5rem;
    cursor: pointer;
    margin: 1rem;
}

.active-tab{
    background: #546c80;
}

.inactive-tab{
    background: #7a99b3;
}

.inactive-tab:hover{
    background: #6391b6;
}

.tabs{
    position: absolute;
    left: 8rem;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.tab{
    position: relative;
    color: white;
    border: 1px solid white;
    border-right: none;
    border-bottom: none;
    font-size: small;
    padding: .25rem .5rem;
    cursor: pointer;
    text-decoration: none;
}
.tab:last-child{
    border-right: 1px solid white;
}
.tab::before,
.tab::after{
    --scale: 0;
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%) translateY(100%) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: top center;
}
.tab::before{
    content: attr(data-tooltip);
    padding: .5rem;
    color: white;
    width: max-content;
    max-width: 15rem;
    background: #333;
    border-radius: .3rem;
    text-align: center;
}
.tab:hover::before{
    --scale: 1;
}
