form{
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 1rem 2rem;
}
h1{
    align-self: center;
    color: white;
}
.type-tabs{
    display: flex;
    flex-direction: row;
    height: fit-content;
}
h3{
    padding: .5rem;
    margin: 0;
}
h3:hover{
    cursor: pointer;
}
.active{
    background: rgb(65, 109, 145);
    color: white;
    border-radius: 0;
}
.inactive{
    background: rgb(146, 159, 172);
}
.inactive:hover{
    background: rgb(150, 168, 185);
}
.credentials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(65, 109, 145);
    min-height: 34rem;
    min-width: 22rem;
    color: white;
    padding: 2rem;
    gap: .25rem;
}
.credentials input{
    margin: 0;
    padding: .25rem;
    width: 100%;
    font-size: 1rem;
}
.credentials input:focus{
    outline: none;
}
.credentials .submit{
    max-width: fit-content;
    align-self: center;
    padding: .5rem 1rem;
    margin-top: 2rem;
    font-weight: bolder;
    align-self: center;
}
form p{
    align-self: center;
}